---
title: "Jim Hellen"
layout: splash
permalink: /
hidden: true
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/home-page-feature.jpg
excerpt: >
  Reiki Massage Therapist<br />
  <small><i class="fa-solid fa-phone"></i> (000)000-0000 </small><br />
  <small><i class="fa-solid fa-at"></i> test@gmail.com </small><br />
  <small><a href="mailto: jameshellen1@gmail.com">Contact Me</a></small>
intro: 
  - excerpt: Here we can put a paragraph with a general description of the services provided.
feature_row:
  - image_path: /assets/images/feature-left.png
    alt: "Reiki Healing"
    title: "Reiki Healing"
    excerpt: "Placeholder paragraph about Reiki Healing."
  - image_path: /assets/images/feature-middle.png
    alt: "Massage Therapy"
    title: "Massage Therapy"
    excerpt: "Placeholder paragraph about Massage Therapy"
  - image_path: /assets/images/feature-right.png
    alt: "Hybrid"
    title: "Hybrid"
    excerpt: "Placeholder paragraph about hybrid."
---
{% include feature_row id="intro" type="center" %}
{% include feature_row %}
<script src="https://kit.fontawesome.com/1c782e2c96.js" crossorigin="anonymous">
