---
title: "Jim Hellen"
layout: splash
permalink: /
hidden: true
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/home-page-feature.jpg
excerpt: >
  Reiki Massage Therapist<br />
  <small>(000)000-0000</small><br />
  <small>test@gmail.com</small><br />
  <small><a href="mailto: jameshellen1@gmail.com">Contact Me</a></small>
intro: 
  - excerpt: Here we can put a paragraph with a general description of the services provided.
feature_row:
  - image_path: /assets/images/feature-left.png
    alt: "customizable"
    title: "Super customizable"
    excerpt: "Everything from the menus, sidebars, comments, and more can be configured or set with YAML Front Matter."
    url: "/docs/configuration/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/feature-middle.png
    alt: "fully responsive"
    title: "Responsive layouts"
    excerpt: "Built with HTML5 + CSS3. All layouts are fully responsive with helpers to augment your content."
    url: "/docs/layouts/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/feature-right.png
    alt: "100% free"
    title: "100% free"
    excerpt: "Free to use however you want under the MIT License. Clone it, fork it, customize it... whatever!"
    url: "/docs/license/"
    btn_class: "btn--primary"
    btn_label: "Learn more"      
---
{% include feature_row id="intro" type="center" %}
{% include feature_row %}
