---
title: "James Hellen"
layout: splash
permalink: /
hidden: true
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/home-page-feature.jpg
excerpt: >
  Reiki Massage Therapist<br />
  <small><i class="fa-solid fa-phone"></i> (631)346-5315 </small><br />
  <small><i class="fa-solid fa-at"></i> Jimhellen12@gmail.com </small><br />
  <small><a href="mailto: jimhellen12@gmail.com">Contact Me</a></small>
intro: 
  - excerpt: My name is James Hellen. I'm a licensed Massage therapist, experienced in medical massage as well an advanced Reiki practioner. My goal is to heal the mind body and soul.
feature_row:
  - image_path: /assets/images/feature-left.png
    alt: "Reiki Healing"
    title: "Reiki Healing"
    excerpt: "Focusing on healing the mind, soul, emotional as well as physical well-being of the client. An energy healing practice that first originated in Japan works to clear stagnant, negative energy from the body and allow for new pure healing energy to permeate through the body.
    The experience is truly unique for every client as Reiki aims to heal whatever it is that most ail the client at the time of the session. Typically, the emphasis is on spiritual and emotional healing, which in turn will reap incredible physical benefits. Truly a wonderful experience."
  - image_path: /assets/images/feature-middle.png
    alt: "Massage Therapy"
    title: "Massage Therapy"
    excerpt: "Focusing on healing and relaxing the physical body of the client through a combination of bodywork modalities. Specializing in incorporating medical massage techniques including deep tissue and stretch therapy, traditional Swedish and Asian massage techniques creating a truly healing and therapeutic experience."
  - image_path: /assets/images/feature-right.jpg
    alt: "Reiki Infused Massage"
    title: "Reiki Infused Massage"
    excerpt: "Combining the best of both modalities to deliver the ultimate mind, body and soul healing experience."
---
{% include feature_row id="intro" type="center" %}
{% include feature_row %}
<script src="https://kit.fontawesome.com/1c782e2c96.js" crossorigin="anonymous">
